.scrollContainer {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.totalHeight {
  position: relative;
  width: 100%;
}

.virtualRow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
